{% extends "templates/base.twig" %}
{% block content %}
<header>       
    <div class="header-table">
        <div>
            <h1>{{ post.title }}</h1>
            <h2>{{post.get_field('sub_title')}}</h2>
        </div>
	</div>
    <div class="header-bg-container" style="background-image: url('{{post.thumbnail.src}}')">
        <div class="fade left"></div>
        <div class="fade right"></div>
        <div class="fade bottom"></div>
        <div class="fade cover"></div>
        <video class="header-video" src="{{post.get_field('hero_video')['url']}}" loop="" autoplay=""></video>
    </div>
    <div class="fade center"></div>
</header>
<section class="main-section">
	{% if post.get_field('pitch') and post.get_field('collaborators') and post.get_field('tech') %}
	<ul class="flex-row">
		<li class="col-1of3 padded margined">
			<h1>Pitch</h1>
			<p>{{post.get_field('pitch')}}</p>
		</li>
		<li class="col-1of3 padded margined">
			<h1>Collaborators</h1>
			<p>{{post.get_field('collaborators')}}</p>
		</li>
		<li class="col-1of3 padded margined">
			<h1>Tech</h1>
			<p>{{post.get_field('tech')}}</p>
		</li>
	</ul>
	{% endif %}
	{{ post.content }}
	<h1>See More</h1>
	<div class="flex-row">
		{% if next_post and prev_post %}
		<div class="col-1of2 margined">
			{% set vars = {'projectrender': prev_post, 'is_small': true} %}
			{% include 'templates/tease-project.twig' with vars %}
		</div>
		<div class="col-1of2 margined">
			{% set vars = {'projectrender': next_post,'is_small': true} %}
			{% include 'templates/tease-project.twig' with vars %}
		</div>
		{% elseif next_post %}
		<div class="col-1of1 margined">
			{% set vars = {'projectrender': next_post,'is_small': true} %}
			{% include 'templates/tease-project.twig' with vars %}
		</div>
		{% elseif prev_post %}
		<div class="col-1of1 margined">
			{% set vars = {'projectrender': prev_post,'is_small': true} %}
			{% include 'templates/tease-project.twig' with vars %}
		</div>
		{% endif %}
	</div>
	
</section>
{% endblock %}
